body, html {
    height: 100%;
}



.background-image{
        background-image: url('Photos/Background1new.jpg');
        height: auto;
        width: auto;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        max-width: 100%;

}

.aboutmebackground{
  background-image: url('Photos/ocean.jpg');
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  max-width: 100%;
}
.projectbackground{
    background-image: url('Photos/road.jpg');
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    max-width: 100%;
}
.contactbackground{
  background-image: url('Photos/waterfall.jpg');
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  max-width: 100%;
}
.about_me_image{
  width: 410px;
  padding: 15px;
  border-radius: 5px;
  border-color: black;
  
}
.logo{
  width: 300px;
  float: left;
  margin: 10px
}

.Aries{
  width: 122px;
  float: left;
  margin: 10px;
}

.maintext{
  color: whitesmoke;
  float: center;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 100px
}

.contact_container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding:20px;
  margin-left: 50px;
  margin-right: 50px;
}  

.background-color{
  color: whitesmoke;
}

.project_image{
  border-radius: 5px;
  width: 200px;
  height: 200px;
  float: center
  
}

.icon_image{
  border-radius: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 50px;
}

.icontext{
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}